<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-flex-start mb-4">
        <h1 class="h3 mb-0 text-gray-800">Lista de productos</h1>
        <a class="btn btn-primary margin-left-1rem" [routerLink]="['/products', 'add']">Agregar producto</a>
    </div>
    <mat-tab-group>
        <mat-tab label="Disponibles">
            <app-enabled></app-enabled>
        </mat-tab>
        <mat-tab label="No disponibles">
            <app-disabled></app-disabled>
        </mat-tab>
    </mat-tab-group>
</div>