.img-category {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

<<<<<<< HEAD
.btn-Delete {
    color: red;
}

.btn-Editt {
    color: #30497C;
=======
.content {
    background: white;
    padding: 10px;
}

.tabPading {
    padding-bottom: 15px;
>>>>>>> 52d2357f8ed63fa36c5ee9a69dbceb0244e8c2a3
}