/* You can add global styles to this file, and also import other style files */
:root {
    /* Primary Colors */
    --color-primary: #4E73DF;
    --color-success: #1CC88A;
    --color-danger: #E74A3B;
    --color-warning: #F6C23E;

    /* Text color */
    --color-text: #5A5C69;
}